body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* Use the path to your image in the url() function */
    background-image: url('imag.jpg');
    /* Set the background size to cover the entire body */
    background-size: cover;
    /* Repeat the background image in both horizontal and vertical directions if it doesn't cover the whole body */
    background-repeat: no-repeat;
    background-color:#07122008;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
    text-align:centre;
}

.books-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align:centre;
}

.book-card {
    width: 250px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align:centre;
}

.book-card img {
    max-width: 100%;
}

.book-card h3 {
    margin-top: 10px;
}

.book-card p {
    font-size: 14px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
/* Example CSS for the "Add to Cart" button */

/* Change background color and text color */
.add-to-cart-btn {
  background-color: #4CAF50;
  color: white;
}

/* Add some padding and round the corners */
.add-to-cart-btn {
  padding: 10px 20px;
  border-radius: 5px;
}

/* Change the font size and add a hover effect */
.add-to-cart-btn {
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: #45a049;
}
/* Example of a media query for screens with a maximum width of 768px (typically tablets and smaller devices) */
@media screen and (max-width: 768px) {
    /* Your responsive CSS rules for smaller screens go here */
}
.container {
    width: 100%;
}


